@page "/clientlist"
@attribute [Authorize]

<Table TItem="ClientDto" @ref="Table"
       IsPagination="true" PageItemsSource="@PageItemsSource"
       SearchModel="@SearchModel" ShowDefaultButtons="true" ShowEditButton="false" ShowDeleteButton="false"
       ShowLineNo="true" IsBordered="true" ShowExtendButtons="true" OnQueryAsync="@OnQueryAsync"
       ShowToolbar="true" ShowSearch="true" ShowAddButton="false" 
       TableSize="TableSize.Compact" IsStriped="true"
       @bind-SelectedRows="@SelectedRows" ClickToSelect="true">
    <TableColumns>
        <TableColumn @bind-Field="@context.Id" />
        <TableColumn @bind-Field="@context.ClientId" />
        <TableColumn @bind-Field="@context.Enabled" Searchable="true">
            <Template Context="v">
                <Switch IsDisabled="true" Value="v.Value" ShowInnerText="true" OnInnerText="是" OffInnerText="否" />
            </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.RequireClientSecret" Searchable="true">
            <Template Context="v">
                <Switch IsDisabled="true" Value="v.Value" ShowInnerText="true" OnInnerText="是" OffInnerText="否" />
            </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.ClientName" />
        <TableColumn @bind-Field="@context.AccessTokenLifetime" />
        <TableColumn @bind-Field="@context.Created" />
        <TableColumn @bind-Field="@context.Updated" />
    </TableColumns>
    <TableToolbarTemplate>
        <TableToolbarButton TItem="ClientDto" Color="Color.Success" Icon="fa fa-fw fa-plus" Text="新增" OnClickCallback="@OnAdd" />
    </TableToolbarTemplate>
    <RowButtonTemplate>
        <TableCellButton Size="Size.ExtraSmall" Color="Color.Info" TItem="ClientDto" Item="@context" Icon="fa fa-edit" Text="编辑" OnClickCallback="@OnEdit"/>
    </RowButtonTemplate>
</Table>

