@page "/apilist"
@attribute [Authorize]


<Table TItem="ApiScopeDto"
       IsPagination="true" PageItemsSource="@PageItemsSource"
       SearchModel="@SearchModel" ShowDefaultButtons="true" ShowEditButton="true" ShowDeleteButton="false"
       ShowLineNo="true" IsBordered="true" ShowExtendButtons="true"
       ShowToolbar="true" ShowSearch="true" ShowAddButton="true"
       AddModalTitle="新增API" EditModalTitle="编辑API"
       TableSize="TableSize.Compact" IsStriped="true" OnQueryAsync="@OnQueryAsync" OnAddAsync="@OnAddAsync" OnSaveAsync="@OnSaveAsync"
       OnResetSearchAsync="@OnResetSearchAsync"
       ClickToSelect="true">
    <TableColumns>
        <TableColumn @bind-Field="@context.Id" />
        <TableColumn @bind-Field="@context.Enabled" Searchable="true">
            <Template Context="v">
                <Switch IsDisabled="true" Value="v.Value" ShowInnerText="true" OnInnerText="是" OffInnerText="否" />
            </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.Name" />
        <TableColumn @bind-Field="@context.DisplayName" />
        <TableColumn @bind-Field="@context.Description" />
        <TableColumn @bind-Field="@context.Required" Searchable="true">
            <Template Context="v">
                <Switch IsDisabled="true" Value="v.Value" ShowInnerText="true" OnInnerText="是" OffInnerText="否" />
            </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.Emphasize" Searchable="true">
            <Template Context="v">
                <Switch IsDisabled="true" Value="v.Value" ShowInnerText="true" OnInnerText="是" OffInnerText="否" />
            </Template>
        </TableColumn>
        <TableColumn @bind-Field="@context.ShowInDiscoveryDocument" Searchable="true">
            <Template Context="v">
                <Switch IsDisabled="true" Value="v.Value" ShowInnerText="true" OnInnerText="是" OffInnerText="否" />
            </Template>
        </TableColumn>
    </TableColumns>
    <SearchTemplate>
        <div class="form-inline">
            <div class="row">
                <div class="form-group col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@context.Name" maxlength="50" ShowLabel="true" DisplayText="API名称" />
                </div>
            </div>
        </div>
    </SearchTemplate>
    <EditTemplate>
        <div class="form-inline">
            <div class="row">
                @if (@context.Id != null)
                {
                    <div class="form-group col-12 col-sm-12">
                        <BootstrapInput @bind-Value="@context.Id" IsDisabled="true">
                        </BootstrapInput>
                    </div>
                }
                <div class="form-group col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@context.Name" placeholder="不可为空，50字以内" maxlength="50">
                        <RequiredValidator />
                        <StringLengthValidator Length="50" />
                    </BootstrapInput>
                </div>
                <div class="form-group col-12 col-sm-6">
                    <Switch @bind-Value="@context.Enabled" ShowInnerText="true" OnInnerText="是" OffInnerText="否" SkipValidate="true" />
                </div>
                <div class="form-group col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@context.DisplayName" placeholder="200字以内" maxlength="200">
                        <RequiredValidator />
                        <StringLengthValidator Length="200" />
                    </BootstrapInput>
                </div>
                <div class="form-group col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@context.Description" placeholder="1000字以内" maxlength="1000">
                        <RequiredValidator />
                        <StringLengthValidator Length="1000" />
                    </BootstrapInput>
                </div>
            </div>
        </div>
    </EditTemplate>
</Table>
